<p>
  register works!
</p>
<!-- ngform is the obj that has ref of entire form --> 
<!-- <form "ngForm">   -->
<form [formGroup]="registerForm">

  <div class="form-group">
    <label for="username">Username:</label>
    <input type="email" class="form-control" name="username" [formControl]="username" placeholder="write your email here." >
  </div>

  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" class="form-control" name="password" [formControl]="password" minlength="6" placeholder="write password here.">
  </div>

  <button  class="btn btn-primary btn-sm btn-dark" (click)="onRegister()">Login</button>
  
</form>